.home-view-container {
  position: relative;
  height: 100%;

  & > div {
    &:nth-of-type(1) {
      position: relative;
      height: calc(53vh - 36px);
    }
    &:nth-of-type(2) {
      height: 47vh
    }
  }
}
